// Place all the styles related to the steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  padding-top: 15px;
  max-height: 200px;
  width:100%;
  object-fit: contain;
}

.body_container {
  margin: auto;
  width: 400px;
}

.top-a {
  color: #000;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.edit_btn {
  margin-top: 20px;
}

input.btn {
  color: black;
  background-color: #90caf9 !important;
}

.form_wrap {
  width: 500px;
  margin: 71px auto 0;
  margin-bottom: 56px !important;
}

input#step_date {
  margin-bottom: 0;
}

input#step_step {
  margin-bottom: 10px;
}

.wrap {
  width: 280px;
  margin: 71px auto 0;
  margin-bottom: 56px;
}

.actions {
  margin-top: 10px;
  margin-bottom: 15px;
}

nav {
  position: fixed;
  top: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 1;
}

.step {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  margin-bottom: 56px;
  height:190px;
  width: 500px;
  z-index: 1;
}

.tweet {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  margin-bottom: 56px;
  height:120px;
  width: 500px;
  z-index: 1;
}

footer {
  background-color: #1565c0;
  color: #fff;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  height:56px;
  width: 100%;
  z-index: 1;
}

.footer-copyright{
  color: #fff;
}

.container {
    color: #fff;
}

.sidenav {
  z-index: 3;
}

p.center {
  margin: 4px;
}

p.center2 {
  margin-top: 15px;
  text-align: center;
}

table.yyy tbody.zzz {
  height: 75px;
}

table.yyy td.aaa {
  padding: 2px;
  width: 50px;
  text-align: right;
}

table.yyy td.bbb {
  padding: 2px;
  width: 160px;
  text-align: center;
}

table.yyy td.ccc {
  padding: 2px;
  width: 80px;
  text-align: right;
}

// tbody.xxx {
//   margin-bottom: 56px;
// }


@media only screen and (max-width:600px){
  .p_title {
    font-size: 1.4rem !important; /*0px以上で適用する内容*/
  }
  .form_wrap {
    width: 90%;
    margin: 71px auto 0;
  }
  .tweet{
    width: 90%;
  }
  .step{
    width: 90%;
  }
}

@media only screen and (max-width:350px){
  .p_title {
    font-size: 1.2rem !important; /*0px以上で適用する内容*/
  }
  .form_wrap {
    width: 90%;
  }
  .tweet{
    width: 90%;
  }
  .step{
    width: 90%;
  }
}

